In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_details = pd.read_csv("MovieDetails.csv", encoding='latin1')
movie_metadata = pd.read_csv("MoviesMetaData.csv", sep=';', encoding='latin1')

DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_metadata = pd.read_csv("MoviesMetaData.csv", sep=';', encoding='latin1')

In [3]:
print(movie_details.head(0))
print(movie_metadata.head(0))

Empty DataFrame
Columns: [imdbId, Imdb Link, Title, IMDB Score, Genre, Poster]
Index: []
Empty DataFrame
Columns: [ï»¿id, budget, genres, imdb_id, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, production_companies_number, production_countries_number, spoken_languages_number]
Index: []

[0 rows x 22 columns]

In [4]:
movie_details = movie_details[["imdbId","Poster"]]
movie_metadata = movie_metadata[["imdb_id","title","genres","original_language","overview","release_date"]]

In [5]:
movie_details = movie_details.rename(columns={movie_details.columns[0]: "imdb_id", movie_details.columns[1]:"posters"})
print(movie_details.head(0))

Empty DataFrame
Columns: [imdb_id, posters]
Index: []

In [6]:
movie_details["imdb_id"]

0        114709
1        113497
2        113228
3        114885
4        113041
          ...
40103     83168
40104     82875
40105    815258
40106     79142
40107     70710
Name: imdb_id, Length: 40108, dtype: int64

In [7]:
movie_metadata["imdb_id"]

0         tt0094675
1         tt0092149
2         tt0113101
3         tt0107286
4         tt0825671
            ...
329039    tt5430190
329040          NaN
329041          NaN
329042    tt6391664
329043    tt6413160
Name: imdb_id, Length: 329044, dtype: object

In [8]:
movie_details['imdb_id_formatted'] = movie_details['imdb_id'].apply(lambda x: f"tt{x:07d}")

In [9]:
movies = movie_details.merge(movie_metadata, left_on='imdb_id_formatted', right_on='imdb_id', how='inner')

In [10]:
movies.head(1)

,imdb_id_x,posters,imdb_id_formatted,imdb_id_y,title,genres,original_language,overview,release_date
0,114709,https://images-na.ssl-images-amazon.com/images...,tt0114709,tt0114709,Toy Story,Animation|Comedy|Family,en,"Led by Woody, Andy's toys live happily in his ...",30/10/1995

In [11]:
movies.isnull().sum()

imdb_id_x               0
posters               628
imdb_id_formatted       0
imdb_id_y               0
title                   0
genres               2076
original_language       5
overview              738
release_date           57
dtype: int64

In [12]:
movies = movies.dropna()

In [13]:
movies

,imdb_id_x,posters,imdb_id_formatted,imdb_id_y,title,genres,original_language,overview,release_date
0,114709,https://images-na.ssl-images-amazon.com/images...,tt0114709,tt0114709,Toy Story,Animation|Comedy|Family,en,"Led by Woody, Andy's toys live happily in his ...",30/10/1995
1,113497,https://images-na.ssl-images-amazon.com/images...,tt0113497,tt0113497,Jumanji,Adventure|Fantasy|Family,en,When siblings Judy and Peter discover an encha...,15/12/1995
2,113228,https://images-na.ssl-images-amazon.com/images...,tt0113228,tt0113228,Grumpier Old Men,Romance|Comedy,en,A family wedding reignites the ancient feud be...,22/12/1995
3,114885,https://images-na.ssl-images-amazon.com/images...,tt0114885,tt0114885,Waiting to Exhale,Comedy|Drama|Romance,en,"Cheated on, mistreated and stepped on, the wom...",22/12/1995
4,113041,https://images-na.ssl-images-amazon.com/images...,tt0113041,tt0113041,Father of the Bride Part II,Comedy,en,Just when George Banks has recovered from his ...,10/02/1995
...,...,...,...,...,...,...,...,...,...
39536,88757,https://images-na.ssl-images-amazon.com/images...,tt0088757,tt0088757,Avenging Angel,Action|Thriller,en,"Molly, former baby prostitute ""Angel"" from Sun...",11/01/1985
39537,83291,https://images-na.ssl-images-amazon.com/images...,tt0083291,tt0083291,Mad Foxes,Horror|Action|Thriller|Crime,es,A man seeks revenge after a biker gang murders...,01/01/1981
39538,83168,https://images-na.ssl-images-amazon.com/images...,tt0083168,tt0083168,Tanya's Island,Fantasy|Drama|Romance,en,Tanya is a female model who lives with her boy...,05/12/1980
39539,82875,https://images-na.ssl-images-amazon.com/images...,tt0082875,tt0082875,Pacific Banana,Comedy,en,The story of a pair of Australian pilots worki...,04/02/1981
39541,79142,https://images-na.ssl-images-amazon.com/images...,tt0079142,tt0079142,The Fearless Young Boxer,Action,en,"While on a fishing trip, Shao Lung's father is...",01/01/1979

In [14]:
movies = movies[["imdb_id_formatted","title","overview","genres","original_language","posters","release_date"]]

In [15]:
movies.head(1)

,imdb_id_formatted,title,overview,genres,original_language,posters,release_date
0,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation|Comedy|Family,en,https://images-na.ssl-images-amazon.com/images...,30/10/1995

In [16]:
movies = movies.rename(columns={movies.columns[0]:"imdb_id", movies.columns[4]:"language", movies.columns[5]:"poster_links"})

In [17]:
movies.head(1)

,imdb_id,title,overview,genres,language,poster_links,release_date
0,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Animation|Comedy|Family,en,https://images-na.ssl-images-amazon.com/images...,30/10/1995

In [18]:
movies["genres"] = movies["genres"].apply(lambda x: x.split('|') if isinstance(x, str) else [])

In [19]:
movies.genres

0              [Animation, Comedy, Family]
1             [Adventure, Fantasy, Family]
2                        [Romance, Comedy]
3                 [Comedy, Drama, Romance]
4                                 [Comedy]
                       ...
39536                   [Action, Thriller]
39537    [Horror, Action, Thriller, Crime]
39538            [Fantasy, Drama, Romance]
39539                             [Comedy]
39541                             [Action]
Name: genres, Length: 36564, dtype: object

In [20]:
movies.head(1)

,imdb_id,title,overview,genres,language,poster_links,release_date
0,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]",en,https://images-na.ssl-images-amazon.com/images...,30/10/1995

In [21]:
movies["overview"] = movies["overview"].apply(lambda x: x.split() if isinstance(x, str) else [])

In [22]:
movies.head(1)

,imdb_id,title,overview,genres,language,poster_links,release_date
0,tt0114709,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]",en,https://images-na.ssl-images-amazon.com/images...,30/10/1995

In [23]:
movies

,imdb_id,title,overview,genres,language,poster_links,release_date
0,tt0114709,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]",en,https://images-na.ssl-images-amazon.com/images...,30/10/1995
1,tt0113497,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]",en,https://images-na.ssl-images-amazon.com/images...,15/12/1995
2,tt0113228,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]",en,https://images-na.ssl-images-amazon.com/images...,22/12/1995
3,tt0114885,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]",en,https://images-na.ssl-images-amazon.com/images...,22/12/1995
4,tt0113041,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],en,https://images-na.ssl-images-amazon.com/images...,10/02/1995
...,...,...,...,...,...,...,...
39536,tt0088757,Avenging Angel,"[Molly,, former, baby, prostitute, ""Angel"", fr...","[Action, Thriller]",en,https://images-na.ssl-images-amazon.com/images...,11/01/1985
39537,tt0083291,Mad Foxes,"[A, man, seeks, revenge, after, a, biker, gang...","[Horror, Action, Thriller, Crime]",es,https://images-na.ssl-images-amazon.com/images...,01/01/1981
39538,tt0083168,Tanya's Island,"[Tanya, is, a, female, model, who, lives, with...","[Fantasy, Drama, Romance]",en,https://images-na.ssl-images-amazon.com/images...,05/12/1980
39539,tt0082875,Pacific Banana,"[The, story, of, a, pair, of, Australian, pilo...",[Comedy],en,https://images-na.ssl-images-amazon.com/images...,04/02/1981
39541,tt0079142,The Fearless Young Boxer,"[While, on, a, fishing, trip,, Shao, Lung's, f...",[Action],en,https://images-na.ssl-images-amazon.com/images...,01/01/1979

In [24]:
movies = movies[movies["language"] == 'en']

In [25]:
movies

,imdb_id,title,overview,genres,language,poster_links,release_date
0,tt0114709,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]",en,https://images-na.ssl-images-amazon.com/images...,30/10/1995
1,tt0113497,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]",en,https://images-na.ssl-images-amazon.com/images...,15/12/1995
2,tt0113228,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]",en,https://images-na.ssl-images-amazon.com/images...,22/12/1995
3,tt0114885,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]",en,https://images-na.ssl-images-amazon.com/images...,22/12/1995
4,tt0113041,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],en,https://images-na.ssl-images-amazon.com/images...,10/02/1995
...,...,...,...,...,...,...,...
39535,tt0098216,Roller Blade Warriors: Taken by Force,"[In, the, future,, a, warrior, nun, on, roller...","[Fantasy, Science Fiction]",en,https://images-na.ssl-images-amazon.com/images...,28/04/1989
39536,tt0088757,Avenging Angel,"[Molly,, former, baby, prostitute, ""Angel"", fr...","[Action, Thriller]",en,https://images-na.ssl-images-amazon.com/images...,11/01/1985
39538,tt0083168,Tanya's Island,"[Tanya, is, a, female, model, who, lives, with...","[Fantasy, Drama, Romance]",en,https://images-na.ssl-images-amazon.com/images...,05/12/1980
39539,tt0082875,Pacific Banana,"[The, story, of, a, pair, of, Australian, pilo...",[Comedy],en,https://images-na.ssl-images-amazon.com/images...,04/02/1981
39541,tt0079142,The Fearless Young Boxer,"[While, on, a, fishing, trip,, Shao, Lung's, f...",[Action],en,https://images-na.ssl-images-amazon.com/images...,01/01/1979

In [26]:
movies["language"] = movies["language"].apply(lambda x: x.split() if isinstance(x, str) else [])

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["language"] = movies["language"].apply(lambda x: x.split() if isinstance(x, str) else [])

In [27]:
movies.head()

,imdb_id,title,overview,genres,language,poster_links,release_date
0,tt0114709,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]",[en],https://images-na.ssl-images-amazon.com/images...,30/10/1995
1,tt0113497,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]",[en],https://images-na.ssl-images-amazon.com/images...,15/12/1995
2,tt0113228,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]",[en],https://images-na.ssl-images-amazon.com/images...,22/12/1995
3,tt0114885,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,22/12/1995
4,tt0113041,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],[en],https://images-na.ssl-images-amazon.com/images...,10/02/1995

In [28]:
movies["release_year"] = pd.to_datetime(movies['release_date'], errors='coerce').dt.year

UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  movies["release_year"] = pd.to_datetime(movies['release_date'], errors='coerce').dt.year
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["release_year"] = pd.to_datetime(movies['release_date'], errors='coerce').dt.year

In [29]:
movies.loc[:, "release_year"] = pd.to_datetime(movies["release_date"], dayfirst=True, errors="coerce").dt.year

In [30]:
movies

,imdb_id,title,overview,genres,language,poster_links,release_date,release_year
0,tt0114709,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]",[en],https://images-na.ssl-images-amazon.com/images...,30/10/1995,1995.0
1,tt0113497,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]",[en],https://images-na.ssl-images-amazon.com/images...,15/12/1995,1995.0
2,tt0113228,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]",[en],https://images-na.ssl-images-amazon.com/images...,22/12/1995,1995.0
3,tt0114885,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,22/12/1995,1995.0
4,tt0113041,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],[en],https://images-na.ssl-images-amazon.com/images...,10/02/1995,1995.0
...,...,...,...,...,...,...,...,...
39535,tt0098216,Roller Blade Warriors: Taken by Force,"[In, the, future,, a, warrior, nun, on, roller...","[Fantasy, Science Fiction]",[en],https://images-na.ssl-images-amazon.com/images...,28/04/1989,1989.0
39536,tt0088757,Avenging Angel,"[Molly,, former, baby, prostitute, ""Angel"", fr...","[Action, Thriller]",[en],https://images-na.ssl-images-amazon.com/images...,11/01/1985,1985.0
39538,tt0083168,Tanya's Island,"[Tanya, is, a, female, model, who, lives, with...","[Fantasy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,05/12/1980,1980.0
39539,tt0082875,Pacific Banana,"[The, story, of, a, pair, of, Australian, pilo...",[Comedy],[en],https://images-na.ssl-images-amazon.com/images...,04/02/1981,1981.0
39541,tt0079142,The Fearless Young Boxer,"[While, on, a, fishing, trip,, Shao, Lung's, f...",[Action],[en],https://images-na.ssl-images-amazon.com/images...,01/01/1979,1979.0

In [31]:
movies['release_year'].isnull().sum()

np.int64(7)

In [32]:
movies['release_year'].dropna()

0        1995.0
1        1995.0
2        1995.0
3        1995.0
4        1995.0
          ...
39535    1989.0
39536    1985.0
39538    1980.0
39539    1981.0
39541    1979.0
Name: release_year, Length: 26999, dtype: float64

In [33]:
movies.isnull().sum()

imdb_id         0
title           0
overview        0
genres          0
language        0
poster_links    0
release_date    0
release_year    7
dtype: int64

In [34]:
movies = movies.dropna()

In [35]:
movies.isnull().sum()

imdb_id         0
title           0
overview        0
genres          0
language        0
poster_links    0
release_date    0
release_year    0
dtype: int64

In [36]:
movies['release_year'] = movies['release_year'].astype(int)

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_year'] = movies['release_year'].astype(int)

In [37]:
movies

,imdb_id,title,overview,genres,language,poster_links,release_date,release_year
0,tt0114709,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]",[en],https://images-na.ssl-images-amazon.com/images...,30/10/1995,1995
1,tt0113497,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]",[en],https://images-na.ssl-images-amazon.com/images...,15/12/1995,1995
2,tt0113228,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]",[en],https://images-na.ssl-images-amazon.com/images...,22/12/1995,1995
3,tt0114885,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,22/12/1995,1995
4,tt0113041,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],[en],https://images-na.ssl-images-amazon.com/images...,10/02/1995,1995
...,...,...,...,...,...,...,...,...
39535,tt0098216,Roller Blade Warriors: Taken by Force,"[In, the, future,, a, warrior, nun, on, roller...","[Fantasy, Science Fiction]",[en],https://images-na.ssl-images-amazon.com/images...,28/04/1989,1989
39536,tt0088757,Avenging Angel,"[Molly,, former, baby, prostitute, ""Angel"", fr...","[Action, Thriller]",[en],https://images-na.ssl-images-amazon.com/images...,11/01/1985,1985
39538,tt0083168,Tanya's Island,"[Tanya, is, a, female, model, who, lives, with...","[Fantasy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,05/12/1980,1980
39539,tt0082875,Pacific Banana,"[The, story, of, a, pair, of, Australian, pilo...",[Comedy],[en],https://images-na.ssl-images-amazon.com/images...,04/02/1981,1981
39541,tt0079142,The Fearless Young Boxer,"[While, on, a, fishing, trip,, Shao, Lung's, f...",[Action],[en],https://images-na.ssl-images-amazon.com/images...,01/01/1979,1979

In [38]:
movies = movies.sort_values(by='release_year', ascending=False)

In [39]:
movies

,imdb_id,title,overview,genres,language,poster_links,release_date,release_year
32963,tt2076298,Ip Man 4,"[Plot, unknown., The, fourth, installment, of,...",[Action],[en],https://images-na.ssl-images-amazon.com/images...,18/10/2018,2018
37785,tt0069049,The Other Side of the Wind,"[Orson, Welles', unfinished, masterpiece,, res...","[Comedy, Drama]",[en],https://images-na.ssl-images-amazon.com/images...,31/12/2018,2018
32836,tt3286052,The Blackcoat's Daughter,"[In, the, dead, of, winter,, Kat, and, Rose,, ...","[Horror, Thriller]",[en],https://images-na.ssl-images-amazon.com/images...,31/03/2017,2017
36612,tt3039472,"Return to Return to Nuke 'Em High, aka Volume 2","[Following, the, events, of, Volume, 1,, the, ...","[Comedy, Horror]",[en],https://images-na.ssl-images-amazon.com/images...,15/07/2017,2017
39477,tt3447228,"Women of '69, Unboxed","[Intimate,, personalized, portrait, of, women,...",[Documentary],[en],https://images-na.ssl-images-amazon.com/images...,15/01/2017,2017
...,...,...,...,...,...,...,...,...
38364,tt0000420,Alice in Wonderland,"[This, is, the, first, movie, version, of, the...",[Fantasy],[en],https://images-na.ssl-images-amazon.com/images...,17/10/1903,1903
11400,tt0000439,The Great Train Robbery,"[The, clerk, at, the, train, station, is, assa...","[Action, Adventure, Western]",[en],https://images-na.ssl-images-amazon.com/images...,01/12/1903,1903
36543,tt0000399,Jack and the Beanstalk,"[Porter's, sequential, continuity, editing, li...","[Adventure, Family, Fantasy]",[en],https://images-na.ssl-images-amazon.com/images...,20/06/1902,1902
19503,tt0334960,"Boys Diving, Honolulu","[In, the, background, is, a, row, of, three-ma...",[Documentary],[en],https://images-na.ssl-images-amazon.com/images...,01/01/1901,1901
25604,tt0285265,The Kiss,"[Nothing, new,, but, an, old, thing, done, ove...",[Romance],[en],https://images-na.ssl-images-amazon.com/images...,09/03/1900,1900

In [40]:
movies = movies[movies["release_year"] >= 1995]

In [41]:
movies

,imdb_id,title,overview,genres,language,poster_links,release_date,release_year
32963,tt2076298,Ip Man 4,"[Plot, unknown., The, fourth, installment, of,...",[Action],[en],https://images-na.ssl-images-amazon.com/images...,18/10/2018,2018
37785,tt0069049,The Other Side of the Wind,"[Orson, Welles', unfinished, masterpiece,, res...","[Comedy, Drama]",[en],https://images-na.ssl-images-amazon.com/images...,31/12/2018,2018
32836,tt3286052,The Blackcoat's Daughter,"[In, the, dead, of, winter,, Kat, and, Rose,, ...","[Horror, Thriller]",[en],https://images-na.ssl-images-amazon.com/images...,31/03/2017,2017
36612,tt3039472,"Return to Return to Nuke 'Em High, aka Volume 2","[Following, the, events, of, Volume, 1,, the, ...","[Comedy, Horror]",[en],https://images-na.ssl-images-amazon.com/images...,15/07/2017,2017
39477,tt3447228,"Women of '69, Unboxed","[Intimate,, personalized, portrait, of, women,...",[Documentary],[en],https://images-na.ssl-images-amazon.com/images...,15/01/2017,2017
...,...,...,...,...,...,...,...,...
56,tt0113321,Home for the Holidays,"[After, losing, her, job,, making, out, with, ...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,02/11/1995,1995
54,tt0113158,Georgia,"[Sadie, looks, up, to, her, older, sister, Geo...",[Drama],[en],https://images-na.ssl-images-amazon.com/images...,19/05/1995,1995
38,tt0112697,Clueless,"[Shallow,, rich, and, socially, successful, Ch...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,19/07/1995,1995
37,tt0113442,It Takes Two,"[Identical, 9-year-olds, from, very, different...","[Comedy, Family, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,17/11/1995,1995
36,tt0112286,Across the Sea of Time,"[A, young, Russian, boy,, Thomas, Minton,, tra...","[Adventure, History, Drama, Family]",[en],https://images-na.ssl-images-amazon.com/images...,20/10/1995,1995

In [42]:
movies['release_year'] = movies['release_year'].astype(str)

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_year'] = movies['release_year'].astype(str)

In [43]:
movies["release_year"] = movies["release_year"].apply(lambda x: x.split() if isinstance(x, str) else [])

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["release_year"] = movies["release_year"].apply(lambda x: x.split() if isinstance(x, str) else [])

In [44]:
movies

,imdb_id,title,overview,genres,language,poster_links,release_date,release_year
32963,tt2076298,Ip Man 4,"[Plot, unknown., The, fourth, installment, of,...",[Action],[en],https://images-na.ssl-images-amazon.com/images...,18/10/2018,[2018]
37785,tt0069049,The Other Side of the Wind,"[Orson, Welles', unfinished, masterpiece,, res...","[Comedy, Drama]",[en],https://images-na.ssl-images-amazon.com/images...,31/12/2018,[2018]
32836,tt3286052,The Blackcoat's Daughter,"[In, the, dead, of, winter,, Kat, and, Rose,, ...","[Horror, Thriller]",[en],https://images-na.ssl-images-amazon.com/images...,31/03/2017,[2017]
36612,tt3039472,"Return to Return to Nuke 'Em High, aka Volume 2","[Following, the, events, of, Volume, 1,, the, ...","[Comedy, Horror]",[en],https://images-na.ssl-images-amazon.com/images...,15/07/2017,[2017]
39477,tt3447228,"Women of '69, Unboxed","[Intimate,, personalized, portrait, of, women,...",[Documentary],[en],https://images-na.ssl-images-amazon.com/images...,15/01/2017,[2017]
...,...,...,...,...,...,...,...,...
56,tt0113321,Home for the Holidays,"[After, losing, her, job,, making, out, with, ...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,02/11/1995,[1995]
54,tt0113158,Georgia,"[Sadie, looks, up, to, her, older, sister, Geo...",[Drama],[en],https://images-na.ssl-images-amazon.com/images...,19/05/1995,[1995]
38,tt0112697,Clueless,"[Shallow,, rich, and, socially, successful, Ch...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,19/07/1995,[1995]
37,tt0113442,It Takes Two,"[Identical, 9-year-olds, from, very, different...","[Comedy, Family, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,17/11/1995,[1995]
36,tt0112286,Across the Sea of Time,"[A, young, Russian, boy,, Thomas, Minton,, tra...","[Adventure, History, Drama, Family]",[en],https://images-na.ssl-images-amazon.com/images...,20/10/1995,[1995]

In [45]:
movies["tags"] = movies["overview"] + movies["genres"] + movies["language"] + movies["release_year"]

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["tags"] = movies["overview"] + movies["genres"] + movies["language"] + movies["release_year"]

In [46]:
movies

,imdb_id,title,overview,genres,language,poster_links,release_date,release_year,tags
32963,tt2076298,Ip Man 4,"[Plot, unknown., The, fourth, installment, of,...",[Action],[en],https://images-na.ssl-images-amazon.com/images...,18/10/2018,[2018],"[Plot, unknown., The, fourth, installment, of,..."
37785,tt0069049,The Other Side of the Wind,"[Orson, Welles', unfinished, masterpiece,, res...","[Comedy, Drama]",[en],https://images-na.ssl-images-amazon.com/images...,31/12/2018,[2018],"[Orson, Welles', unfinished, masterpiece,, res..."
32836,tt3286052,The Blackcoat's Daughter,"[In, the, dead, of, winter,, Kat, and, Rose,, ...","[Horror, Thriller]",[en],https://images-na.ssl-images-amazon.com/images...,31/03/2017,[2017],"[In, the, dead, of, winter,, Kat, and, Rose,, ..."
36612,tt3039472,"Return to Return to Nuke 'Em High, aka Volume 2","[Following, the, events, of, Volume, 1,, the, ...","[Comedy, Horror]",[en],https://images-na.ssl-images-amazon.com/images...,15/07/2017,[2017],"[Following, the, events, of, Volume, 1,, the, ..."
39477,tt3447228,"Women of '69, Unboxed","[Intimate,, personalized, portrait, of, women,...",[Documentary],[en],https://images-na.ssl-images-amazon.com/images...,15/01/2017,[2017],"[Intimate,, personalized, portrait, of, women,..."
...,...,...,...,...,...,...,...,...,...
56,tt0113321,Home for the Holidays,"[After, losing, her, job,, making, out, with, ...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,02/11/1995,[1995],"[After, losing, her, job,, making, out, with, ..."
54,tt0113158,Georgia,"[Sadie, looks, up, to, her, older, sister, Geo...",[Drama],[en],https://images-na.ssl-images-amazon.com/images...,19/05/1995,[1995],"[Sadie, looks, up, to, her, older, sister, Geo..."
38,tt0112697,Clueless,"[Shallow,, rich, and, socially, successful, Ch...","[Comedy, Drama, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,19/07/1995,[1995],"[Shallow,, rich, and, socially, successful, Ch..."
37,tt0113442,It Takes Two,"[Identical, 9-year-olds, from, very, different...","[Comedy, Family, Romance]",[en],https://images-na.ssl-images-amazon.com/images...,17/11/1995,[1995],"[Identical, 9-year-olds, from, very, different..."
36,tt0112286,Across the Sea of Time,"[A, young, Russian, boy,, Thomas, Minton,, tra...","[Adventure, History, Drama, Family]",[en],https://images-na.ssl-images-amazon.com/images...,20/10/1995,[1995],"[A, young, Russian, boy,, Thomas, Minton,, tra..."

In [47]:
del(movies["overview"])
del(movies["genres"])
del(movies["language"])
del(movies["release_year"])
del(movies["release_date"])

In [48]:
movies

,imdb_id,title,poster_links,tags
32963,tt2076298,Ip Man 4,https://images-na.ssl-images-amazon.com/images...,"[Plot, unknown., The, fourth, installment, of,..."
37785,tt0069049,The Other Side of the Wind,https://images-na.ssl-images-amazon.com/images...,"[Orson, Welles', unfinished, masterpiece,, res..."
32836,tt3286052,The Blackcoat's Daughter,https://images-na.ssl-images-amazon.com/images...,"[In, the, dead, of, winter,, Kat, and, Rose,, ..."
36612,tt3039472,"Return to Return to Nuke 'Em High, aka Volume 2",https://images-na.ssl-images-amazon.com/images...,"[Following, the, events, of, Volume, 1,, the, ..."
39477,tt3447228,"Women of '69, Unboxed",https://images-na.ssl-images-amazon.com/images...,"[Intimate,, personalized, portrait, of, women,..."
...,...,...,...,...
56,tt0113321,Home for the Holidays,https://images-na.ssl-images-amazon.com/images...,"[After, losing, her, job,, making, out, with, ..."
54,tt0113158,Georgia,https://images-na.ssl-images-amazon.com/images...,"[Sadie, looks, up, to, her, older, sister, Geo..."
38,tt0112697,Clueless,https://images-na.ssl-images-amazon.com/images...,"[Shallow,, rich, and, socially, successful, Ch..."
37,tt0113442,It Takes Two,https://images-na.ssl-images-amazon.com/images...,"[Identical, 9-year-olds, from, very, different..."
36,tt0112286,Across the Sea of Time,https://images-na.ssl-images-amazon.com/images...,"[A, young, Russian, boy,, Thomas, Minton,, tra..."

In [49]:
movies["tags"] = movies["tags"].apply(lambda x: [a.lower() for a in x])

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["tags"] = movies["tags"].apply(lambda x: [a.lower() for a in x])

In [50]:
movies

,imdb_id,title,poster_links,tags
32963,tt2076298,Ip Man 4,https://images-na.ssl-images-amazon.com/images...,"[plot, unknown., the, fourth, installment, of,..."
37785,tt0069049,The Other Side of the Wind,https://images-na.ssl-images-amazon.com/images...,"[orson, welles', unfinished, masterpiece,, res..."
32836,tt3286052,The Blackcoat's Daughter,https://images-na.ssl-images-amazon.com/images...,"[in, the, dead, of, winter,, kat, and, rose,, ..."
36612,tt3039472,"Return to Return to Nuke 'Em High, aka Volume 2",https://images-na.ssl-images-amazon.com/images...,"[following, the, events, of, volume, 1,, the, ..."
39477,tt3447228,"Women of '69, Unboxed",https://images-na.ssl-images-amazon.com/images...,"[intimate,, personalized, portrait, of, women,..."
...,...,...,...,...
56,tt0113321,Home for the Holidays,https://images-na.ssl-images-amazon.com/images...,"[after, losing, her, job,, making, out, with, ..."
54,tt0113158,Georgia,https://images-na.ssl-images-amazon.com/images...,"[sadie, looks, up, to, her, older, sister, geo..."
38,tt0112697,Clueless,https://images-na.ssl-images-amazon.com/images...,"[shallow,, rich, and, socially, successful, ch..."
37,tt0113442,It Takes Two,https://images-na.ssl-images-amazon.com/images...,"[identical, 9-year-olds, from, very, different..."
36,tt0112286,Across the Sea of Time,https://images-na.ssl-images-amazon.com/images...,"[a, young, russian, boy,, thomas, minton,, tra..."

In [51]:
movies = movies.sort_values(by='title', ascending=True)

In [52]:
movies

,imdb_id,title,poster_links,tags
19301,tt1699720,!Women Art Revolution,https://images-na.ssl-images-amazon.com/images...,"[through, intimate, interviews,, provocative, ..."
23957,tt3060338,#chicagoGirl,https://images-na.ssl-images-amazon.com/images...,"[from, her, childhood, bedroom, in, the, chica..."
16336,tt1024733,$5 a Day,https://images-na.ssl-images-amazon.com/images...,"[after, being, released, from, jail,, the, son..."
35214,tt2106284,$50K and a Call Girl: A Love Story,https://images-na.ssl-images-amazon.com/images...,"[when, ross, is, diagnosed, with, terminal, br..."
15395,tt0790799,$9.99,https://images-na.ssl-images-amazon.com/images...,"[have, you, ever, wondered, ""what, is, the, me..."
...,...,...,...,...
30601,tt0485061,uwantme2killhim?,https://images-na.ssl-images-amazon.com/images...,"[based, on, the, vanity, fair, article, of, th..."
5360,tt0295701,xXx,https://images-na.ssl-images-amazon.com/images...,"[xander, cage, is, your, standard, adrenaline,..."
9989,tt0329774,xXx: State of the Union,https://images-na.ssl-images-amazon.com/images...,"[ice, cube, stars, as, darius, stone,, a, thri..."
10349,tt0402022,Ãon Flux,https://images-na.ssl-images-amazon.com/images...,"[400, years, into, the, future,, disease, has,..."
27751,tt0257290,Ãvegtigris,https://images-na.ssl-images-amazon.com/images...,"[this, film, tells, the, story, of, a, few, un..."

In [53]:
def starts_with_special_char(title):
    return not title[0].isalnum() and not title[0].isspace()

In [54]:
movies = movies[~movies['title'].apply(starts_with_special_char)]

In [55]:
movies = movies.reset_index(drop=True)

In [56]:
movies

,imdb_id,title,poster_links,tags
0,tt1002561,02:13,https://images-na.ssl-images-amazon.com/images...,"[a, police, profiler, has, just, returned, fro..."
1,tt1261041,02:22,https://images-na.ssl-images-amazon.com/images...,"[the, plan, was, easy;, the, job, was, not., o..."
2,tt0472582,02:37,https://images-na.ssl-images-amazon.com/images...,"[a, contemporary,, ensemble, drama, telling, t..."
3,tt2048688,08:46,https://images-na.ssl-images-amazon.com/images...,"[a, glimpse, into, the, lives, of, an, ensembl..."
4,tt0312318,09-nov,https://images-na.ssl-images-amazon.com/images...,"[an, on-the-scene, documentary, following, the..."
...,...,...,...,...
15914,tt0485061,uwantme2killhim?,https://images-na.ssl-images-amazon.com/images...,"[based, on, the, vanity, fair, article, of, th..."
15915,tt0295701,xXx,https://images-na.ssl-images-amazon.com/images...,"[xander, cage, is, your, standard, adrenaline,..."
15916,tt0329774,xXx: State of the Union,https://images-na.ssl-images-amazon.com/images...,"[ice, cube, stars, as, darius, stone,, a, thri..."
15917,tt0402022,Ãon Flux,https://images-na.ssl-images-amazon.com/images...,"[400, years, into, the, future,, disease, has,..."
15918,tt0257290,Ãvegtigris,https://images-na.ssl-images-amazon.com/images...,"[this, film, tells, the, story, of, a, few, un..."

In [57]:
from nltk.stem import PorterStemmer

ps = PorterStemmer()

In [58]:
# Define the stemming function
def stem_text(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [59]:
movies["tags"] = movies["tags"].apply(lambda x:" ".join(x))

In [60]:
movies["tags"] = movies["tags"].apply(stem_text)

In [61]:
movies

,imdb_id,title,poster_links,tags
0,tt1002561,02:13,https://images-na.ssl-images-amazon.com/images...,a polic profil ha just return from psychiatr l...
1,tt1261041,02:22,https://images-na.ssl-images-amazon.com/images...,the plan wa easy; the job wa not. on a snowi n...
2,tt0472582,02:37,https://images-na.ssl-images-amazon.com/images...,"a contemporary, ensembl drama tell the complex..."
3,tt2048688,08:46,https://images-na.ssl-images-amazon.com/images...,a glimps into the live of an ensembl of charac...
4,tt0312318,09-nov,https://images-na.ssl-images-amazon.com/images...,an on-the-scen documentari follow the event of...
...,...,...,...,...
15914,tt0485061,uwantme2killhim?,https://images-na.ssl-images-amazon.com/images...,base on the vaniti fair articl of the same tit...
15915,tt0295701,xXx,https://images-na.ssl-images-amazon.com/images...,xander cage is your standard adrenalin junki w...
15916,tt0329774,xXx: State of the Union,https://images-na.ssl-images-amazon.com/images...,"ice cube star as dariu stone, a thrill-seek tr..."
15917,tt0402022,Ãon Flux,https://images-na.ssl-images-amazon.com/images...,"400 year into the future, diseas ha wipe out t..."
15918,tt0257290,Ãvegtigris,https://images-na.ssl-images-amazon.com/images...,thi film tell the stori of a few unev day in t...

In [62]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2000, stop_words='english')

In [63]:
fitted_vector = cv.fit_transform(movies["tags"]).toarray()

In [64]:
fitted_vector[0]

array([0, 0, 0, ..., 0, 0, 0])

In [65]:
print(cv.get_feature_names_out())

['000' '10' '100' ... 'youth' 'zombi' 'zone']

In [66]:
movies["tags"].head(2)

0    a polic profil ha just return from psychiatr l...
1    the plan wa easy; the job wa not. on a snowi n...
Name: tags, dtype: object

In [67]:
from sklearn.metrics.pairwise import cosine_similarity

In [68]:
similarity=cosine_similarity(fitted_vector)

In [69]:
def recommend_movies(movie):

    movie_index = movies[movies['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    print("Recommended movies:")
    for i in movies_list:
        print(movies.iloc[i[0]]['title'])

In [70]:
recommend_movies("Alice in Wonderland")

Recommended movies:
Epic Movie
Snow White and the Huntsman
My Brother the Pig
Alice Through the Looking Glass
All Dogs Go to Heaven 2

In [71]:
recommend_movies("Robin Hood")

Recommended movies:
Crossfire Trail
Stardust
The River Why
Tarzan and the Lost City
The Messengers 2: The Scarecrow

In [72]:
import pickle

In [73]:
pickle.dump(movies,open('movie_list.pkl','wb'))

In [74]:
pickle.dump(similarity,open("similarity.pkl","wb"))